**/.vs/
**/[Bb]in/
**/[Oo]bj/
**/ProfilingSessions/

/*.exe*
/*.dll
*.pdb
*.mdb
*.suo
*.userprefs
*.DotSettings.user
*.log
*.smproj
*.xml

/AquaLog/packages/**/

/ALWatcher/
/appdata/
/temp/
bsl_copy.cmd
deploy.cmd
