**/.vs/
**/[Bb]in/
**/[Oo]bj/
**/ProfilingSessions/

*.pdb
*.mdb
*.suo
*.userprefs
*.DotSettings.user
*.log
*.smproj

/*.exe*
/*.dll
/*.xml
/AquaLog/packages/**/
/appdata/
/temp/
/bsl_copy.cmd
/deploy.cmd
